# Auto detect text files and perform LF normalization
* text=auto
#学习教训：必须分清import与from x import的区别，一个为拉取，一个为直接取用

##继承性与多态的实例练习，下题为计算一个长方形的面积，主类别负责接收长、宽数据，子类别继承主类数据。
class chang:
   def __init__(self,chang,kuan):
       self.chang=chang
       self.kuan=kuan
class changmj(chang):
   def mianji(self):
       mj=self.chang*self.kuan
       return mj

##下题为编写一个小程序，要求他工作30秒，每3S打印一个随机小数
import time,random
for i range(0 to 10):
    time.sleep(3)
    print(random.random())
##本节课学习下来需要记住的要点即为，明确模块的应用，面向对象的意义，以及对象中多态以及继承性的认知。PASS的应用为测试使用。
